body{
    background-color: rgb(3, 3, 29)

} 

#nextbtn2{
    position: absolute;
  top: 50%;
  left: 2%;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 }

.btnnes2:hover {
    background-color: rgb(93, 62, 15);
  }
.blue{
    position: absolute;
    top: 80%;
    left: 40%;
    color: aliceblue;
    padding: 100px;
    border: 3px gery;
    text-align: center;
    background-color: rgb(0,22,30,0.3);
}