body{
    background-color: rgb(3, 3, 29)

} 

#btnformain{
    position: absolute;
  top: 50%;
  left: 2%;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
 }
 .btnformain:hover {
    background-color: rgb(93, 62, 15);
  }

.next {
    position: absolute;
    top: 50%;
    right: 50px;
    left: 95%;
}
  
 .next:hover {
    background-color: rgb(93, 62, 15)
 }




#dialogue-box {
      width: 400px;
      padding: 25px;
      border: 2px solid #3333330a;
      background-color: #cfcfcf99;
      font-family: "Quintessential";
      margin: 60px auto;
      position: absolute;
      top: 60%;
    left: 40%;
}
 #text {
      min-height: 60px;
      margin-bottom: 10px;
 }
   
 .btn {
    font-family: 'Quintessential';
      padding: 10px 15px;
      background-color: #071423;
      color: rgb(244, 246, 255);
      border: none;
      cursor: pointer;
      margin: 5px;
}
.btn:disabled {
      background-color: #071423;
      cursor: not-allowed;
}