body{
    background-color: rgb(3, 3, 29)

} 


.tunnel1{
    right: 50%;
    bottom: 30%;

    height: auto;
    width: 100%;
    text-align: center;
 }

 #image{
     width: 240px;
     height: 240px;
 }


 .tunnel2{
     left: 55%;
     bottom: 7%;
     position: absolute;
 }



 h4{
    position: absolute;
    right: 150px;
    width: 300px;
   font-family: "Quintessential";
   font-size: 35px;
   color:#DFEDFF;
}


.right{
    text-align: center;
    font-family: "Quintessential";
    font-size: 45px;
    color:#DFEDFF;
}



@font-face{
    font-family: Quintessential;
    src: url(..//fonts/Quintessential-Regular.ttf);
}


