
body{
    background-color: rgb(3, 3, 29);
} 


/* nav-list*/ 
.nav{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.nav-list{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li{
    margin: 0 15px;
}

.nav-list li a{
    text-decoration:none;
    padding:10px 20px;
    display:block;
    transition: backgrond-color 0.3s ease;
}
.nav-list li a:hover{
    background-color: rgb(104, 46, 15);
    border-radius: 6px;
}

/*end of nav-list*/

.mainart{
    text-align: center;
    background-image:url(./image/notdonelogo.jpg);
}


/*main buttoms*/
.container1{
    height: 300px;
    position: relative;
    
}
.tunnel1{
  right: 50%;
  bottom: 30%;
  margin: 0;
  position: relative;
  top: 40%;
  left: 30%;
  -ms-transform: translate(-50px, -50px);
  transform: translate(-50px, -50px);
}
 
.tunnelname1{
    position: relative;
    bottom:11%;
    left: 12%; /* Center the text horizontally */
    transform: translateX(100px); /* Adjust for centering */
    font-size: 36px;
    color: #DFEDFF;
    font-family: "Quintessential";
}

 #image{
     width: 300px;
     height: 300px;
 }


.container2 .tunnel2{
    height: 390px;
    position: relative;
    align-items: center;
}

 .tunnel2{
    margin: 0;
    position: relative;
    top: 75%;
    left: 45%;
}
 
.tunnelname2{
   text-align: left;
   position: relative;
   right: -13%;
    font-size: 36px;
    color: #DFEDFF;
    font-family: "Quintessential";
}



.right{
    text-align: center;
    font-family: "Quintessential";
    font-size: 80px;
    color:#DFEDFF;
    left:500px;
    right: 500px;
    
}



@font-face{
    font-family: Quintessential;
    src: url(..//fonts/Quintessential-Regular.ttf);
}


.about{
    font-family: "Quintessential";
    font-size: 36px;
    text-align: center;
    color:#DFEDFF;
}

.infor{
    font-family: "Quintessential";
    font-size: 16px;
    text-align: center;
    color:#DFEDFF;

}

.textabout .infor .about{
    height: 350px;
    position: absolute;
    left:40%;
    top:1000px;
    right: 100px;

}


#section2{
    height: auto;

}



footer{
    background-color: rgb(3, 3, 29);
    color: #DFEDFF;
    text-align: center;
    padding: 20px 10px;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin:20px auto;
}

input, textarea{
    margin: 10px 0;
    padding:10px;
    width: 100%;
}

.contactb{
    background-color: rgb(13, 13, 127);
    color: #DFEDFF;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.contactb:hover{
    background-color: aliceblue;
}

html {
    scroll-behavior: smooth; /* Smooth scrolling built into CSS */
  }

  section {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
  }


body {
    margin: 0;
    position: relative;
  }

.bubbles{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom:-4000px;
    transform-origin: center;
}
#floaters {
    position: fixed;
    top: 0;
    left: 50;
    width: 100%;
    height: 100%;
    z-index: -1; /* Send it behind everything */
    pointer-events: none; /* Let clicks go through */
}

