body{
    background-color: rgb(3, 3, 29)

} 


.nextbtn{
    position: absolute;
    top: 50%;
    right: 50px;
    left: 95%;
}

  
  .nextbtn:hover {
    background-color: rgb(93, 62, 15);
}

.nextbtn2{
    position: absolute;
    top:50%;
    right:100px;
    left: 3%;

}

#dialogue-box {
    width: 400px;
    padding: 20px;
    border: 2px solid #3333330a;
    background-color: #cfcfcf99;
    font-family: sans-serif;
    margin: 50px auto;
    position: absolute;
    top: 60%;
    left: 40%;
}
#text {
    min-height: 60px;
    margin-bottom: 10px;
}
 
.btn {
    padding: 10px 15px;
    background-color: #071423;
    color: rgb(244, 246, 255);
    border: none;
    cursor: pointer;
    margin: 5px;
}
.btn:disabled {
    background-color: #999;
    cursor: not-allowed;
}
