
body{
    background-color: rgb(3, 3, 29)

} 

.menucontainer{
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
width: 25px;
height: 5px;
background-color: rgb(255, 255, 255);
margin: 6px 0;
}
 

.container1{
    height: 200px;
    position: relative;
    
}
.tunnel1{
    right: 50%;
    bottom: 30%;
    margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
 
.tunnelname1{
    position: absolute;
    top: 50%; /* Position the text below the button */
    left: 100%; /* Center the text horizontally */
    transform: translateX(160%); /* Adjust for centering */
    margin-left: 10px; /* Add space between the button and text */
    font-size: 35px;
    color: #DFEDFF;
    font-family: "Quintessential";
}


 #image{
     width: 300px;
     height: 300px;
 }


.container2{
    height: 200px;
    position: relative;
    align-items: center;
}

 .tunnel2{
    margin: 0;
    position: absolute;
    top: 75%;
    left: 70%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
 
.tunnelname2{
   text-align: left;
   position: absolute;
   right: 70px;
    font-size: 35px;
    color: #DFEDFF;
    font-family: "Quintessential";
}



.right{
    text-align: center;
    font-family: "Quintessential";
    font-size: 45px;
    color:#DFEDFF;
}



@font-face{
    font-family: Quintessential;
    src: url(..//fonts/Quintessential-Regular.ttf);
}

